[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bash_profile"]
	path = bash_profile
	url = git@bitbucket.org:smenzer/bash-profiles.git
